@font-face {
    font-family: 'stolzl_book';
    src: url('./fonts/stolzl/stolzl_book.otf') format('opentype');
}

@font-face {
    font-family: 'bodoniXT';
    src: url("./fonts/bodoniXT/BodoniXT.ttf") format('truetype');
}

html{
    scroll-behavior: smooth;

}
h1, h2, h3 {
    color: #84a98c;
    font-family: 'bodoniXT', sans-serif;
}

h1{
    font-size: clamp(4rem, 11vw, 13.5rem);
}

h2 { 
    margin-left: 6rem;
    font-size: clamp(1.5rem, 5.3vw, 6rem);
    max-width: max-content;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.2rem;
    border-radius: 20px;
}

p {
    font-size: 1.1rem;
}
a {
    position: relative;
    color: #84a98c;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #696969;
}

a::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transition:  transform 0.3s ease;
}

a:hover::after{
    transform: translateX(-50%) scaleX(1);
}

body {
  font-family: 'stolzl_book', sans-serif;
  font-size: 1.4rem;
  font-weight: bolder;
  margin: 0;  
  background-color: #2f3d46;

}

.background{
  background-image: url('assets/Frame\ 2.svg');
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    position: fixed;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    width: 100%;
}

.header{
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
    gap: 2rem;
    background-color: saddlebrown;
    top: 0;
}

header.show{
    opacity: 1;
    pointer-events: auto;
}

.top{
    color: #84a98c;
    padding: 1rem;
}

main {
    flex: 1;
}

#about, #projects, #contact {
    scroll-margin-top: 4rem;
}

.landing{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    height: 100vh;
    max-width: 100vw;
    justify-content: center;
    align-items: center;
}

.landing_name h1{
    margin: 0;
    min-height: 1.3em;
    margin-left: 7rem;
}

.landing_name h3{
    color: #84a98c;
    margin: 0;
    margin-left: 6rem;
    letter-spacing: 1px;
}

.landing_name{
    display: grid;
    grid-template-rows: 0.1fr 1fr 1fr;
}

.options {
    font-family: 'bodoniXT',sans-serif;
    font-size: clamp(1.8rem, 5.5vw, 5rem);

}

.landing_option {
    padding: 2rem;
    white-space: nowrap;
}

.centering {
    display: flex;
    justify-content: center;
}

.padding {
    padding: 3rem;
}

.about_grid{
    width: max-content;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 2rem;
}

#about_me, #contact_me{
    background-color: #cad2c5 ;
    padding: 1.2rem;
    padding-bottom: 2rem;
    border-radius: 20px;
    height: min-content;
    width: 30rem;
}

.yt_link{
    color: rgb(51, 51, 51);
}

.headshot{
    width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.headshot img{
    width: 25rem;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 5%;
}

.project_grid{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: max-content;
    justify-content: flex-start;
}

.open-modal{
    cursor: pointer;
    width: 29.25rem;
    height: 21.125rem;
    padding: 0;
    border-radius: 20px;
    border: none ;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
}

.project-image {
    position: relative;
    height: 80%;
    opacity: 75%;
    top: -20%;
    border-radius: 20px;
    transition: all 1.2s ease;
    scale: 100%;
    overflow: hidden;
}

.project-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.open-modal:hover .project-image{
    transition-duration: 0.75s;
    top: 0%;
    height: 100%;
    scale: 120%;
    opacity: 100%;
    background-color: none;
}

.project-text {
    position: absolute;
    bottom: 0%;
    height: 35%;
    width: 100%;
    display: flex;
    justify-content:start;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 1.5rem;
    
    transition: all 1.2s ease;
    transform: translateY(0);
}

.open-modal:hover .project-text{
    transition-duration: 0.75s;
    transform: translateY(7.5rem);
    background-color: none;
}

.competition, .project, .work{
    position: absolute;
    top: 6%;
    left: 4.5%;
    font-family: 'stolzl_book', sans-serif;
    padding: 0.4rem 1rem;
    border-radius: 30px;
    align-items: center;
    justify-content: center;

    transform: translateX(-7px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    pointer-events: none;
    opacity: 0;
}

.competition{
    background-color: rgb(211, 157, 243);
}

.project{
    background-color: rgb(91, 160, 238);
}

.work{
    background-color: rgb(38, 130, 44);
}
.open-modal:hover .competition, .open-modal:hover .project, .open-modal:hover .work{
    opacity: 1;
    transform: translateX(0);
}


.contact_grid{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    gap: 2rem;
}

.contact_inside{
    display: flex;
    justify-content: center;
}

.contact_submit{
    display: grid;
    grid-template-rows: repeat(12);
    margin: auto;
    background-color: #cad2c5;
    border-radius: 20px;
    padding: 1.5rem;
    width: 30rem;
    
}

.contact_fill {
    padding-bottom: 1.2rem;
}

.contact_fill input, .contact_fill textarea {
    background-color: #52796f;
    color: #cad2c5;
    width: 95%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 0.9rem;
    font-family: 'stolz_book', sans-serif;
    border-radius: 8px;
    padding-left: 0.5rem;
    padding-top: 0.6rem;
}

.contact_fill input::placeholder, .contact_fill textarea::placeholder{
    color: #cad2c5;
}

.contact_fill input {
    padding-bottom: 0.3rem;
}

.contact_fill textarea {
    line-height: 1.3;
    resize: vertical;
    min-height: 10rem;
}

.contact_send {
    width: 40%;
    height: 1.8rem;
    background-color: rgb(250, 235, 215);
    border: 0.5px solid #ccc;
    border-radius: 13px;
    transition: all 0.5s ease;
    font-family: 'stolzl book', sans-serif;
    font-size: 0.9rem;
    font-weight:600;
}

.contact_send:hover {
    box-shadow: 6px 5px 13px rgba(46, 42, 37, 0.1);
}

.footer{
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 2rem;
    place-items: center;
    padding: 0.3rem 0 ;
    margin: 0;
    background-color: #333;
}

.click{
    padding: 1.5rem;
}

.click img{
    width: 1.8rem;
    height: auto;
    max-width: 100%;
}



@media (max-width: 70em){
    .about_grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        width: 80%;
        justify-items: center;
    }

    .headshot {
        max-width: 25rem;
        width: 100%;
    }

    .headshot img{
        width: 100%;
        max-width: 25em;
    }

    .project_grid{
        display: flex;
        justify-content: center;
        gap: 6vh;
    }

    .contact_grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        width: 60%;
        gap: 6vh;
    }


}



.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: none;
    justify-content: center;
    align-items: center;
    z-index:1000;
}

.modal-content {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    max-width: 60vw;
    width: 100%;
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.modal-overlay.show .modal-content{
    transform: scale(1);
    opacity: 1;
}

.modal-content{
    transform: scale(0.8);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

#modal-title{
    font-size: 3rem;
}

.close-button{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    border: none;
    background: none;
    cursor: pointer;
}

.project-info p{
    font-size: 1rem;
    line-height: 1.5;
    margin: 0.5rem 0;
}